<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <h1>Login</h1>
    
    <form (submit) = comprobar()>

        <div class="div-nombre">
            <label for="nombre">Nombre de Usuario</label><br>
            <input type="text" name="nombre" placeholder="usuario" autocomplete="off">
        </div>

        <div class="div_pass">
            <label for="">Contraseña</label><br>
            <input type="password" name="password" placeholder="contraseña" autocomplete="off">
        </div>

        
        <button type="submit">Entrar</button>
    </form>

</body>
</html>